// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pov {
  font-weight: bold;
  color: red;
  font-style: comic sans;
}

.negative {
  color: red;
}
